python-dotenv>=1.0.0
tenacity>=8.2.0
sqlalchemy>=2.0.0
efinance>=0.5.5
akshare>=1.12.0
tushare>=1.4.0
pytdx>=1.72
baostock>=0.8.0
yfinance>=0.2.0
pandas>=2.0.0
pypinyin>=0.50.0
openpyxl>=3.1.0
numpy>=1.24.0
json-repair>=0.55.1
litellm>=1.80.10
tiktoken>=0.8.0,<0.12.0
openai>=1.0.0
PyYAML>=6.0
tavily-python>=0.3.0
google-search-results>=2.4.0
requests>=2.31.0
pywencai>=0.13.0
markdown2>=2.4.0
imgkit>=1.2.0
fake-useragent>=1.4.0
httpx[socks]
discord.py>=2.0.0
newspaper3k>=0.2.8
lxml_html_clean
jinja2>=3.1.0
